OPEN_API_KEY=your_open_api_key
EMAIL_ID=이메일 입력
EMAIL_PW=이메일 비밀번호

# 도커에 필요한 키
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgresdb
POSTGRES_PORT=5432
DB_HOST=db
DB_PORT=5432
CELERY_BROKER_URL='redis://redis:6379/0'

DJANGO_SECRET_KEY=장고키